<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META charset="utf-8">
        <META name="viewport" content="width=device-width initial-scale=1.0">

        <TITLE>AirBnB Clone</TITLE>
	<LINK rel="icon" type="image/x-icon" href="images/icon.ico" >

	<LINK rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
	<LINK rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
	<LINK rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
	<LINK rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
    </HEAD>
    <BODY>
        <HEADER></HEADER>
        <DIV class="container">
            <SECTION class="filters">
                <DIV class="locations">
                    <H3>States</H3>
                    <H4>List of first 3 states...<H4>
                    <UL class="popover">
                    <!-- List of states in user's location -->
                    </UL>
                </DIV>
                <DIV class="amenities">
                </DIV>
            </SECTION>
        </DIV><!-- end container -->
        <FOOTER>
            <P>Best School</P>
        </FOOTER>
    </BODY>
</HTML>
