<!DOCTYPE HTML>
<HTML lang="en">
    <HEAD>
        <TITLE>AirBnB clone</TITLE>

        <LINK rel="shortcut icon" href="../static/images/icon.ico" >

        <LINK rel="stylesheet" href="../static/styles/4-common.css"/>
        <LINK rel="stylesheet" href="../static/styles/3-header.css"/>
        <LINK rel="stylesheet" href="../static/styles/3-footer.css"/>
        <LINK rel="stylesheet" href="../static/styles/6-filters.css"/>
    </HEAD>
    <BODY>
        <HEADER>
            <DIV id="header_logo"></DIV>
        </HEADER>
        <DIV class="container">
            <SECTION class="filters">
                <BUTTON>Search</BUTTON>
                <DIV class="locations">
                    <H3>States</H3>
                    <H4>&nbsp;</H4>
                    <UL class="popover">
                        {% for state in states %}
                        <LI>
                            <H2><B>{{ state.name|e }}</B></H2>
                            <UL>
                                {% if state.id in cities_dict %}
                                    {% for city in cities_dict[state.id] %}
				    <LI><H4><B>{{ city.name|e }}</B></H4></LI>
                                    {% endfor %}
                                {% endif %}
                           </UL>
			</LI>
                        {% endfor %}
		    </UL><!-- end location popover -->
		</DIV><!-- end locations -->
                <DIV class="amenities">
                    <H3>Amenities</H3>
                    <H4>&nbsp;</H4>
                    <UL class="popover">
                        {% for amenity in amenities %}
			<LI><H4><B>{{ amenity.name|e }}</H4></LI>
                        {% endfor %}
		    </UL><!-- end amenities popover -->
		</DIV><!-- end amenities -->
	    </SECTION><!-- end filters -->
	</DIV><!-- end container -->
        <footer>
            <p>Holberton School</p>
        </footer>
    </BODY>
</HTML>
